In [1]:
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

from flask import Flask, jsonify
import datetime as dt

In [2]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite", connect_args={'check_same_thread': False}, echo=True)

In [3]:
Base = automap_base()

In [4]:
Base.prepare(engine, reflect=True)

2018-11-28 18:58:00,960 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-11-28 18:58:00,963 INFO sqlalchemy.engine.base.Engine ()
2018-11-28 18:58:00,965 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-11-28 18:58:00,966 INFO sqlalchemy.engine.base.Engine ()
2018-11-28 18:58:00,969 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-11-28 18:58:00,970 INFO sqlalchemy.engine.base.Engine ()
2018-11-28 18:58:00,973 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("measurement")
2018-11-28 18:58:00,975 INFO sqlalchemy.engine.base.Engine ()
2018-11-28 18:58:00,979 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'measurement' AND type = 'table'
2018-11-28 18:58:00,980 INFO sqlalchemy.engine.base.Engine ()
2018-11-28 18:58:00,982 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("measurement")
2018-11-28 18:58:00,983 INFO sqlalchemy.engine.base.Engine ()
2018-11-28 18:58:00,984 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'measurement' AND type = 'table'
2018-11-28 18:58:00,985 INFO sqlalchemy.engine.base.Engine ()
2018-11-28 18:58:00,990 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("measurement")
2018-11-28 18:58:00,991 INFO sqlalchemy.engine.base.Engine ()
2018-11-28 18:58:00,992 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("measurement")
2018-11-28 18:58:00,993 INFO sqlalchemy.engine.base.Engine ()
2018-11-28 18:58:00,995 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'measurement' AND type = 'table'
2018-11-28 18:58:00,996 INFO sqlalchemy.engine.base.Engine ()
2018-11-28 18:58:01,002 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("station")
2018-11-28 18:58:01,003 INFO sqlalchemy.engine.base.Engine ()
2018-11-28 18:58:01,005 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'station' AND type = 'table'
2018-11-28 18:58:01,006 INFO sqlalchemy.engine.base.Engine ()
2018-11-28 18:58:01,007 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("station")
2018-11-28 18:58:01,008 INFO sqlalchemy.engine.base.Engine ()
2018-11-28 18:58:01,010 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'station' AND type = 'table'
2018-11-28 18:58:01,010 INFO sqlalchemy.engine.base.Engine ()
2018-11-28 18:58:01,012 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("station")
2018-11-28 18:58:01,013 INFO sqlalchemy.engine.base.Engine ()
2018-11-28 18:58:01,014 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("station")
2018-11-28 18:58:01,015 INFO sqlalchemy.engine.base.Engine ()
2018-11-28 18:58:01,017 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'station' AND type = 'table'
2018-11-28 18:58:01,018 INFO sqlalchemy.engine.base.Engine ()

In [5]:
# Save reference to the table
Measurement = Base.classes.measurement
Station = Base.classes.station
# Create our session (link) from Python to the DB
session = Session(engine)

In [6]:
# Flask Setup
app = Flask(__name__)